@font-face {
    font-family: 'titulo';
    src: url(../storage/font/Starjout.ttf);
}

@font-face {
    font-family: 'th2';
    src: url(../storage/font/Starjedi.ttf);
}

body{
    background-image: url(../storage/img/star-wars-darth-vader-in-the-rain-desktop-wallpaper-preview.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
    
}

.titulo{
    font-family: 'titulo';
    font-size: 150px;
    margin-top: 5vi;
    color: white;
}

.tabla{
    border: 1px solid red;
    
}
th{
    font-family: 'th2';
    font-size: 20px;
}